<% if logged_in? %>
  <h1>Welcome, <%= current_user.name %>!</h1>

  <%= link_to 'Logout', logout_path, method: :get %><br>

  <% if admin? %>
    <%= link_to 'Admin dashboard', admin_users_path %><br>
  <% else %>
    <%= link_to 'Cars user dashboard', cars_path %>
  <% end %>
<% else %>
  <h1>Welcome to the User Management System</h1>
  <%= link_to 'Login', new_session_path %>
<% end %>
