<h1>Your Cars</h1>

<table border="1" cellpadding="10">
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Color</th>
    <th>License Plate</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.color %></td>
      <td><%= car.license_plate %></td>
      <td>
        <% if car.status == "approved" %>
          <span style="color: green;">Approved</span>
        <% elsif car.status == "rejected" %>
          <span style="color: red;">Rejected</span>
        <% else %>
          <span style="color: orange;">Pending</span>
        <% end %>
      </td>
      <td>
        <%= link_to 'Edit', edit_car_path(car) %>
        <%#= link_to 'Delete', car_path(car), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
