<h1>Create user</h1>

<%= form_with(model: @user, url: admin_users_path, method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if @user.errors[:name].any? %>
      <div class="text-danger">
        <% @user.errors[:name].each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
    <% if @user.errors[:email].any? %>
      <div class="text-danger">
        <% @user.errors[:email].each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <% if @user.errors[:password].any? %>
      <div class="text-danger">
        <% @user.errors[:password].each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <% if @user.errors[:password_confirmation].any? %>
      <div class="text-danger">
        <% @user.errors[:password_confirmation].each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
    <% if @user.errors[:age].any? %>
      <div class="text-danger">
        <% @user.errors[:age].each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
    <% if @user.errors[:phone].any? %>
      <div class="text-danger">
        <% @user.errors[:phone].each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2>Cars</h2>
  <%= form.fields_for :cars do |car_form| %>
    <div>
      <h3>Car <%= car_form.object.id || @user.cars.index(car_form.object) + 1 %></h3>
      <div class="field">
        <%= car_form.label :make, "Make" %>
        <%= car_form.text_field :make %>
        <% if car_form.object.errors[:make].any? %>
          <div class="text-danger">
            <%= car_form.object.errors[:make].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= car_form.label :model, "Model" %>
        <%= car_form.text_field :model %>
        <% if car_form.object.errors[:model].any? %>
          <div class="text-danger">
            <%= car_form.object.errors[:model].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= car_form.label :color, "Color" %>
        <%= car_form.text_field :color %>
        <% if car_form.object.errors[:color].any? %>
          <div class="text-danger">
            <%= car_form.object.errors[:color].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= car_form.label :license_plate, "License Plate" %>
        <%= car_form.text_field :license_plate %>
        <% if car_form.object.errors[:license_plate].any? %>
          <div class="text-danger">
            <%= car_form.object.errors[:license_plate].join(", ") %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Create User' %>
  </div>
<% end %>
