<h1>Create user</h1>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, url: admin_users_path, method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <h2>Cars</h2>
  <%= form.fields_for :cars do |car_form| %>
    <div>
      <h3>Car <%= car_form.object.id || @user.cars.index(car_form.object) + 1 %></h3>
      <div class="field">
        <%= car_form.label :make, "Make" %>
        <%= car_form.text_field :make %>
      </div>

      <div class="field">
        <%= car_form.label :model, "Model" %>
        <%= car_form.text_field :model %>
      </div>

      <div class="field">
        <%= car_form.label :color, "Color" %>
        <%= car_form.text_field :color %>
      </div>

      <div class="field">
        <%= car_form.label :license_plate, "License Plate" %>
        <%= car_form.text_field :license_plate %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Create User' %>
  </div>
<% end %>
